@font-face {
    font-family: poppinBold;
    src: url(Poppins.ttf);
}

@font-face {
    font-family: poppin;
    src: url(PoppinsSimple.ttf);
}

body {
    background-color: #404240;

overflow: hidden;

 
    font-family: poppin;
 
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;

}

.side-social-icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 15%;

}


.social-icons {
    display: flex;
    flex-direction: column;
padding-left: 10px;
    justify-content: center;
  
    gap: 15px;

}


.social-icons i {
    color: tomato;
    font-size: 2rem;
    cursor: pointer;
}

.blank-box {
    margin: 0;
    width: 2px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.coming-soon-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;

}

.img-logo img {
    width: 200px;
    height: 200px;
    filter: drop-shadow(16px 8px 10px #000000);
    
}

.img-logo img:hover {
    animation: myAnim 10s ease-in 0s 1 normal forwards;
}

.text-coming {
    text-align: center;
    
   
}

.text-coming h1 {
    overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.social-icons i:hover {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}


@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }

  }
  
    /* Media Querry */
  @media screen and (max-width: 600px) {

    body {
        display: flex !important;
        flex-direction: column !important;
        margin: 0;
        justify-items: center;
        align-items: center;
        height: 100vh;
        justify-content: center !important;
    }
    
    .main-content {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .side-social-icons {
        flex-direction: column-reverse;
    }
    .blank-box {
        visibility: hidden;
        height: 100px;
    }
    .social-icons {
        display: flex;
        flex-direction: row-reverse;
        flex: 2;
    }

    .text-coming h1 {
        text-wrap: wrap;
    }
}
